
div {
	position:relative;
	display:block;
}

body {
    color: #49433A;
    font-family: Verdana,Helvetica,Arial,cursive,"Microsoft YaHei";
    font-size: 14px;
}

h5, ul {
	margin:0;
	padding:0;
}

button {
	margin: 5px;
}

.api {
	margin: 15px auto;
}

.api-title {
	width: 90%;
	background-color: #0D5995;
	border: 1px solid #0D5995;
	color: #fff;
	padding: 5px 12px;
	margin:0 auto;
}

.api-title span.right {
	float: right;
}

.api-title span.left {
	float: left;
}

.api-body {
	border: 1px solid #0D5995;
	border-top: none;
	width: 90%;
	padding: 5px 12px;
	margin:0 auto;
}

.api-param {
	padding:5px 25px
}

.api-param li {
	list-style: circle inside;
	padding:5px;
}

.api-param-desc {
	padding: 5px 5px 5px 16px;
}

.api-example {
	border: 1px dashed #abcabc;
    margin: 10px;
	padding: 10px;
}

.api-example ul {
	list-style:none;
}

.api-example ul li div{
	border: 1px solid #CCCCCC;
	margin: 10px;
	padding: 5px;
}

.api-example-container {
	height: 100px;
}

.api-example-target {
	width: 50px;
	height: 50px;
	border: 1px dotted #CC0033;
	background-color:#CCCCCC;
	margin: 5px;
	float: left;
}

.line {
    border-bottom: 1px dashed #0D5995;
    height: 0;
    margin: 0;
    padding: 0;
}

.clear {
	clear: both;
}


